# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# TypeScript
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# Production files
dist

# Mac OS temp file
.DS_STORE

# Sourcemaps
*.map